<div class="pozadina" >
    <div class="banner" >
        <div class="content">
            <p  style="color: black; font-size:60px" class="mb-5"><b> <i style=" font-family: 'Cormorant Garamond', serif;">Muzej S&N<br /> </i> </b></p>
            <a routerLink="sve-postavke/:id">Vidi odmah <i class="bi bi-arrow-right"></i></a>
        </div>
    
    <!-- step  -->
        <div class="content1">
        <div class="row" style=" text-align: left;  color: rgb(255, 255, 255);font-family:'Times New Roman', Times, serif;font-size: 20px;">
            <p><b> <h1 style="text-align: left;">O NAMA...</h1>
                Muzej S&N je muzej kompleksnog tipa posvećen zaštiti, interpretaciji i <br/>promociji slojevitog,
                multikulturnog nasleđa centralnog Balkana i Evrope<br/> – kultura od praistorije do danas – kroz arheološku,
                 numizmatičku i umetničku građu. Muzej prikuplja,<br/> čuva, štiti na osnovu principa preventivne zaštite,
                  unapređuje znanja. On tumači istorijske i savremene kulture,<br/> nacionalni identitet da služi kao izvor
                   saznanja i aktivan centar učenja u zajednici i okruženju.<br/>
                Muzej treba da bude najvažniji muzeološki centar na Balkanu, <br/> uzor i model za druge muzeje u zemlji i 
                regionu. Muzej treba da bude nacionalni kulturni centar regionalnog i svetskog značaja, <br/>
                nezaobilazno i omiljeno odredište za građane Beograda i <br/>turiste iz zemlje i sveta, prepoznatljiv u javnosti. 
                Muzej treba da podstiče radoznalost i da inspiriše.
                </b>
               
            </p>
    
        </div>
    </div>
    
</div>
    

    
    <div class="footer-dark" style="text-align: center;" >
        <div class="container1" style="margin:0 auto; border-radius: 5px; width:20%; padding:10px">
          <div class="row1">
            <div class="col item social"><a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a><a href="#">
                    <i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-google"></i></a>
                </div>
          </div>
          <p class="copyright" style="color: rgb(255, 255, 255);"><b>Sofija Dimitrijevic & Neda Lukovic | © 2022 S&N.</b></p>
        </div>
      
      </div>
    
    </div>