

 <section >
    <div class="container">
    <div class="row" >
        <div class="col-md-6" >
            <div class="card">
                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="box" >
                    <h1>Registruj se</h1>
                    <p class="text-muted"> Unesite vaše podatke</p>

                    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" placeholder="Ime"/>
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">Ime je obavezno</div>
                </div>
                <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" placeholder="Prezime"/>
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Prezime je obavezno</div>
                </div>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email"/>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">E-mail je obavezan</div>
                </div>
                <input type="text" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" placeholder="Telefon" />
                <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                    <div *ngIf="f.phone.errors.required">Telefon je obavezan</div>
                </div>

                <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" placeholder="Adresa" />
                <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                    <div *ngIf="f.address.errors.required">Adresa je obavezna</div>
                </div>
                <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Korisničko ime" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Korisnicko ime je obavezno</div>
                </div>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"placeholder="Lozinka" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Lozinka je obavezna</div>
                    <div *ngIf="f.password.errors.minlength">Lozinka mora imati minimum 6 karaktera</div>
                </div>


             

         <a class="forgot text-muted" href="login">Imate nalog?</a>

                    <input type="submit" name="" value="Register" href="#">

                </form>
            </div>
        </div>
    </div>
</div>
</section> 
